[submodule "avr/libraries/TeenyMidi"]
	path = avr/libraries/TeenyMidi
	url = git@github.com:TeenyRiotAddons/TeenyMidi.git
[submodule "avr/libraries/TeenyKeyboard"]
	path = avr/libraries/TeenyKeyboard
	url = git@github.com:TeenyRiotAddons/TeenyKeyboard.git
[submodule "avr/libraries/TeenyMouse"]
	path = avr/libraries/TeenyMouse
	url = https://github.com/TeenyRiotAddons/TeenyMouse.git
