[submodule "avr/libraries/TeenyMidi"]
	path = avr/libraries/TeenyMidi
	url = git@github.com:TeenyRiotAddons/TeenyMidi.git
[submodule "avr/libraries/TeenyKeyboard"]
	path = avr/libraries/TeenyKeyboard
	url = git@github.com:TeenyRiotAddons/TeenyKeyboard.git
[submodule "avr/libraries/TeenyMouse"]
	path = avr/libraries/TeenyMouse
	url = https://github.com/TeenyRiotAddons/TeenyMouse.git
[submodule "avr/libraries/TeenySerial"]
	path = avr/libraries/TeenySerial
	url = https://badgeek@github.com/TeenyRiotAddons/TeenySerial.git
[submodule "avr/libraries/Nokia5110LCD"]
	path = avr/libraries/Nokia5110LCD
	url = https://badgeek@github.com/ATtinyTeenageRiot/Nokia5110LCD.git
[submodule "avr/libraries/TeenyRiotExamples"]
	path = avr/libraries/TeenyRiotExamples
	url = https://badgeek@github.com/TeenyRiot/Examples.git
[submodule "avr/libraries/TeenyTouch"]
	path = avr/libraries/TeenyTouch
	url = https://badgeek@github.com/TeenyRiotAddons/TeenyTouch.git
